#Postgres Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB_NAME=marvel_heroes

#Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_password
REDIS_DB=0
REDIS_TTL=300


#Application Configuration
ENVIRONMENT=dev
LOG_LEVEL=DEBUG
DEBUG=true
BASE_URL=your_servel_base_url
HOST_PORT=your_host_port

#External API (to get token visit https://superheroapi.com)
MARVEL_HEROES_API_BASE=https://superheroapi.com/api/
MARVEL_API_KEY=your_token
HTTP_TIMEOUT=10.0

#ImageService Configuration
IMAGE_WIDTH=375
IMAGE_HEIGHT=353
MAX_IMAGE_FILE_SIZE=5242880
TEMP_FOLDER_PATH=temp
UPLOADS_FOLDER_PATH=uploads/heroes
ALLOWED_MIME_TYPES=["image/png", "image/jpeg","image/webp"]