@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../shared/assets/fonts/RobotoCondensed-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../shared/assets/fonts/RobotoCondensed-Medium.woff2')
		format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../shared/assets/fonts/RobotoCondensed-SemiBold.woff2')
		format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../shared/assets/fonts/RobotoCondensed-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('../../shared/assets/fonts/Oswald-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('../../shared/assets/fonts/Oswald-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
